@tailwind base;
@tailwind components;

/*
  Base styles
*/
.container {
  @apply mx-auto max-w-7xl;
}

.btn {
  @apply rounded-[300px] px-6 py-3 text-base font-medium;
  @apply border border-transparent;
  @apply hover:bg-brand-purple hover:bg-opacity-95;
  @apply bg-brand-purple text-white;
}

.btn-lg {
  @apply btn;
  @apply rounded-[80px] px-6 py-4 text-lg font-semibold;
}

.btn-outline {
  @apply btn;
  @apply border-gray-300 bg-white text-black hover:bg-opacity-10;
}
.btn-light {
  @apply btn;
  @apply bg-brand-purple-light text-brand-purple-text hover:bg-opacity-10;
}
.btn-neutral {
  @apply btn;
  @apply bg-[#F8F8FA] text-brand-ink hover:bg-[#EDEDF3];
}

.badge {
  @apply rounded-lg px-3 py-1 text-sm font-semibold uppercase tracking-wide;
  @apply bg-brand-purple-light text-brand-purple-text;
}

.hero {
  @apply space-y-3 text-center;
}
h1 {
  @apply pt-6 text-6xl font-extrabold;
  @apply text-brand-ink;
  line-height: 1.2;
}
.hero p {
  @apply mx-auto max-w-2xl pt-6;
  @apply text-lg;
}

p {
  @apply text-brand-ink;
  @apply text-base;
}

.flex,
.inline-flex {
  @apply items-center;
}

.shadow-image {
  filter: drop-shadow(0px 1px 2px rgba(189, 189, 189, 0.3));
}

.shadow-form {
  filter: drop-shadow(0px 12px 56px rgba(119, 118, 122, 0.15));
}

/* When last, this ensures inline styles take priority */
@tailwind utilities;
