/*
  Style the modal
*/

.background {
  @apply fixed inset-0 z-40 bg-black opacity-60;
}

.modal {
  @apply fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none;
  @apply min-w-[20em];
}
.modalInner {
  @apply relative w-auto mx-auto my-6;
}

.wrapper {
  @apply relative flex flex-col w-full bg-white border-0 rounded-lg shadow-lg outline-none focus:outline-none;
}

.header {
  @apply relative flex items-center justify-between p-5 border-b border-solid rounded-t border-slate-200;
}
.header h3 {
  @apply block mx-auto text-3xl font-semibold text-center;
}

.header button {
  @apply absolute right-4 px-4;
}

.footer {
  @apply p-6 border-t;
}
@media (max-width: 639px) {
  .footer {
    @apply flex flex-col items-center gap-6;
  }
}
@media (max-width: 639px) {
  .footerReverse {
    flex-direction: column-reverse;
  }
}
@media (min-width: 640px) {
  .footer {
    @apply grid items-center grid-cols-2 gap-6 border-solid rounded-b border-slate-200;
  }
}

.content {
  @apply relative flex-auto px-4 py-6 space-y-5;
}
