/*
  Style the header and navigation for the site
*/

/* .header {
  @apply border-b border-gray-300;
} */

.navContainer {
  @apply items-center justify-between flex-grow w-full bg-white lg:flex;
}
.navOpen {
  @apply absolute left-0 z-10 block p-5 mt-3 border-gray-300 shadow border-y;
}
.navClosed {
  @apply hidden lg:flex;
}

.staticArea {
  @apply flex items-center justify-between flex-shrink-0 w-full md:w-auto;
}
.wrapper {
  @apply relative justify-between px-5 py-3 lg:space-x-8 lg:flex;
}

.actionAreaMobile {
  @apply pt-5 mx-auto mt-3 text-center border-t border-gray-300;
}

.linkArea {
  @apply flex flex-col justify-start list-none lg:flex-row;
  @apply text-base lg:space-x-4 text-brand-ink;
}
.linkArea a {
  @apply block;
  @apply px-5 py-3 lg:px-4 lg:py-2;
  @apply rounded-lg;
  @apply whitespace-nowrap;
}
.linkArea a:hover {
  @apply bg-gray-100;
}

.burger {
  @apply block lg:hidden;
}
